{% extends "AppBundle::layout.html.twig" %}

{% block contenido %}

    AppBundle:Index:index
    <h3>hola mundo</h3>
    {{ saludo }}

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Password</th>
				<th>Estado</th>
				<th>Fecha Alta</th>
				<th>Fecha Modificacion</th>
			</tr>
		</thead>
		<tbody>
			{% for user in usuarios %}
				<tr>
					<td>{{ user.idusu }}</td>
					<td>{{ user.usunombre }}</td>
					<td>{{ user.usuemail }}</td>
					<td>{{ user.usupassword }}</td>
					<td>{{ user.usuestado }}</td>
					<td>{{ user.usufechaalta }}</td>
					<td>{{ user.usufecmod }}</td>
				</tr>
    		{% endfor %}

		</tbody>
	</table>

	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
			<div class="panel panel-primary">

				<div class="panel-heading">
  					<div class="row">
  						<div class="col-lg-1">
  							<span class="glyphicon glyphicon-user"></span>
  						</div>
  						<div class="col-lg-11">
  							<strong>REGISTRO DE USUARIO</strong>
  						</div>
  					</div>
  				</div>

  				<div class="panel-body">
					<form role="form" action="{{ path('registra_usuario') }}" method="POST">

						<div class="form-group">
							<h5><label for="nombre" class="label label-primary">Nombre:</label></h5>
							<input type"text" class="form-control" id="nombre" name="nombre">
						</div>
						<div class="form-group">
    						<h4><label for="email" class="label label-primary">Email:</label></h4>
    						<input type="email" class="form-control" id="email" name="email">
  						</div>
  						<div class="form-group">
    						<h3><label for="pwd" class="label label-primary">Password:</label></h3>
    						<input type="password" class="form-control" id="pwd" name="password">
  						</div>
  						<div class="checkbox">
    						<label><input type="checkbox"> Remember me</label>
  						</div>
  						<button type="submit" class="btn btn-default">Submit</button>
					</form>
  				</div>

			</div>
		</div>
	</div>



{% endblock %}


