{% extends "AppBundle::layout.html.twig" %}

{% block navbar_options %}
<li class="dropdown user user-menu">	
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">				    	    
        <strong>{{ usuario }}</strong>               
	</a>			
    <ul class="dropdown-menu">
    	<!-- User image -->
        <li class="user-header">
        	<h1><span class="glyphicon glyphicon-user" style="color:white;"></span></h1>       	
            <p>            	
            	<strong>{{ usuario }} </strong><br>    
				<strong>{{ rol }}</strong>            	        	
            	<small>{{ email }}</small>
            </p>
  		</li>        
        <!-- Menu Footer-->
        <li class="user-footer">        	
            <div class="col-xs-12">
            	<a href="{{ path('index') }}" class="btn btn-danger btn-block">
            		<strong>
            			<i class="fa fa-power-off"></i>
            			&nbsp;&nbsp;&nbsp;Cerrar Sesi&oacute;n
            		</strong>
            	</a>
            </div>
		</li>
	</ul>	
</li>

{% endblock %}

{% block menu_usuario %}

{% if rol == "Administrador General" %}
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>
	        <li><a href="{{ path('listar_caracteristica_hotel') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Hotel</a></li>                        
	   	</ul>
	</li>
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>
	        <li><a href="{{ path('listar_caracteristicas_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_tipos_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Tipos de Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_servicios_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Servicios de Habitaci&oacute;n</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_recursos') }}"><i class="fa  fa-arrow-circle-o-right "></i> Recursos</a></li>
	        <li><a href="{{ path('listar_roles') }}"><i class="fa fa-arrow-circle-o-right"></i> Roles</a></li>
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Administrador_Sistema.pdf" download="Manual_General"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% if rol == "Administrador" %}
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">	    	
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Administrador.pdf" download="Manual_Administrador"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>

{% endif %}

{% if rol == "Recepcionista" %}
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Recepcionista.pdf" download="Manual_Recepcionista"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% endblock %}

{% block contenido %}

{% if hoteles|length > 1 %}

<div class="row">
	<div class="col-md-5">		
		<form class="form-inline" action="{{ path('listar_habitaciones_disponibilidad') }}" method="POST" role="form" >
			<div class="form-group">
				<label for="idHotel">Hotel:&nbsp;&nbsp;&nbsp;</label>
				<select class="form-control" name="idHotel" id="idHotel">
					<option value="0"></option>
					{% for hotel in hoteles %}
						{% if hotel.idhotel == idHotHotel %}
							<option value="{{ hotel.idhotel }}" selected="selected" >{{ hotel.hotnombre }}</option>
						{% else %}
							<option value="{{ hotel.idhotel }}">{{ hotel.hotnombre }}</option>
						{% endif %}
					{% endfor %}
				</select>					
			</div>
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Buscar
			</button>				
		</form>					
	</div>	
	<div class="col-md-1">			
		<form class="form-inline" action="{{ path('listar_habitaciones') }}" method="POST" role="form">
			<input type="text" id="idHotHotel" name="idHotHotel" value="{{ idHotHotel }}" hidden/>
			<button type="submit" class="btn btn-primary" title="CONFIGURACI&Oacute;N">
				<i class="fa fa-gear"></i>
			</button>						
		</form>		
	</div>
	<div class="col-md-1">
		<form class="form-inline" action="{{ path('calendario') }}" method="POST" role="form">
				<input type="text" id="idHotHotel" name="idHotHotel" value="{{ idHotHotel }}" hidden/>				
				<button type="submit" class="btn btn-primary" title="CALENDARIO">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
		</form>
	</div>
	<div class="col-md-offset-3 col-md-1 text-right">
		<a class="btn btn-block btn-primary" href="{{ path('listar_hoteles') }}" title="ATR&Aacute;S">
			<i class="fa fa-mail-reply"></i>			
		</a>
	</div>
		
</div>

{% else %}

<div class="row">	
	<div class="col-md-7">
		{% for hotel in hoteles %}
			<h2><label class="label label-primary">{{ hotel.hotnombre }}</label></h2>			
		{% endfor %}
	</div>	
	<div class="col-md-1">
		<form class="form-inline" action="{{ path('listar_habitaciones') }}" method="POST" role="form">
			<h2>				
				<input type="text" id="idHotHotel" name="idHotHotel" value="{{ idHotHotel }}" hidden/>				
				<button type="submit" class="btn btn-primary" title="CONFIGURACI&Oacute;N">
					<i class="fa fa-gear"></i>
				</button>
			</h2>			
		</form>
	</div>
	<div class="col-md-1">
		<form class="form-inline" action="{{ path('calendario') }}" method="POST" role="form">
			<h2>				
				<input type="text" id="idHotHotel" name="idHotHotel" value="{{ idHotHotel }}" hidden/>				
				<button type="submit" class="btn btn-primary" title="CALENDARIO">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</h2>			
		</form>
	</div>
	<div class="col-md-offset-2 col-md-1">
		<h2>
			<a class="btn btn-block btn-primary" href="{{ path('listar_hoteles') }}" title="ATR&Aacute;S">
				<i class="fa fa-mail-reply"></i>			
			</a>
		</h2>
	</div>
</div>	

{% endif %}

<br>
<div class="table-responsive">
<table class="table table-striped table-separator">
	<thead>
		<tr class="table-thead">			
			<td class="text-center"><strong>Habitaci&oacute;n</strong></td>
			<td class="text-center"><strong>Tipo Habitaci&oacute;n</strong></td>
			<td class="text-center"><strong>Disponibilidad</strong></td>
			<td class="text-center"><strong>Ingreso</strong></td>
			<td class="text-center"><strong>Salida</strong></td>
			<td class="text-center"><strong>C&oacute;digo de<br>Reserva</strong></td>
			<td class="text-center"><strong>Hu&eacute;sped(es)</strong></td>
			<td class="text-center"><strong>Reservas</strong></td>
		</tr>
	</thead>
	<tbody>
		{% for hab in habitaciones %}
			<tr>				
				<td class="text-center">{{ hab.habdsc }}</td>
				<td class="text-center">{{ hab.habtipo }}</td>				
				<td class="text-center">
					{% if hab.habestadodisp == 0 %}
						<h4><label class="label label-success">Libre</label></h4>					
					{% endif %}
					{% if hab.habestadodisp == 1 %}
						<h4><label class="label label-danger">Ocupado: {{ hab.huespedes|length }}</label></h4>					
					{% endif %}										
					{% if hab.habestadodisp == 2 %}
						<h4><label class="label label-warning">Bloqueado</label></h4>					
					{% endif %}																				
				</td>
				<td class="text-center">{{ hab.reservaingreso }}</td>
				<td class="text-center">{{ hab.reservasalida }}</td>
				<td class="text-center">{{ hab.reservacodigo }}</td>
				<td class="text-left">					
					{% for huesped in hab.huespedes %}
						&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user" style="color:red;"></i>&nbsp;&nbsp;&nbsp;{{ huesped.huenombre }}<br>
					{% endfor  %}
				</td>
				<td class="text-right">
					{% if hab.cantidad_reserva > 0 %}											
						<form role="form" action="{{ path('listar_reservas_actuales') }}" method="POST">
							<input type="text" name="info_reserva" value="{{ hab.idhabitacion }}|{{ hab.habdsc }}|{{ hab.habtipo}}|{{idHotHotel}}" hidden/>												
							<button type="submit" class="btn btn-primary">								
								<i class="fa fa-mail-forward"></i>															
								&nbsp;&nbsp;Ver
							</button>							
						</form>
					{% endif %}					
				</td>
			</tr>			
		{% endfor %}
	</tbody>	
</table>
</div>

{% endblock %}