{% extends "AppBundle::layout.html.twig" %}
{% block navbar_options %}
<li class="dropdown user user-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">				    	    
        <strong>{{ usuario }}</strong>               
	</a>			
    <ul class="dropdown-menu">
    	<!-- User image -->
        <li class="user-header">
        	<h1><span class="glyphicon glyphicon-user" style="color:white;"></span></h1>       	
            <p>            	
            	<strong>{{ usuario }} </strong><br>    
				<strong>{{ rol }}</strong>            	        	
            	<small>{{ email }}</small>
            </p>
  		</li>        
        <!-- Menu Footer-->
        <li class="user-footer">        	
            <div class="col-xs-12">
            	<a href="{{ path('index') }}" class="btn btn-danger btn-block">
            		<strong>
            			<i class="fa fa-power-off"></i>
            			&nbsp;&nbsp;&nbsp;Cerrar Sesi&oacute;n
            		</strong>
            	</a>
            </div>
		</li>
	</ul>	
</li>
{% endblock %}
{% block menu_usuario %}

{% if rol == "Administrador General" %}
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>
	        <li><a href="{{ path('listar_caracteristica_hotel') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Hotel</a></li>                        
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>
	        <li><a href="{{ path('listar_caracteristicas_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_tipos_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Tipos de Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_servicios_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Servicios de Habitaci&oacute;n</a></li>
	  	</ul>
	</li>
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_recursos') }}"><i class="fa  fa-arrow-circle-o-right "></i> Recursos</a></li>
	        <li><a href="{{ path('listar_roles') }}"><i class="fa fa-arrow-circle-o-right"></i> Roles</a></li>
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    <li><a href="/bin/Manual_Hoteles_Nacionales-Administrador_Sistema.pdf" download="Manual_General"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% if rol == "Administrador" %}
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">	    	
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    <li><a href="/bin/Manual_Hoteles_Nacionales-Administrador.pdf" download="Manual_Administrador"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>

{% endif %}

{% if rol == "Recepcionista" %}
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    <li><a href="/bin/Manual_Hoteles_Nacionales-Recepcionista.pdf" download="Manual_Recepcionista"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-lg-offset-3 col-lg-6">
			<div class="panel panel-primary">

				<div class="panel-heading">
  					<div class="row">
  						<div class="col-lg-1">
  							<span class="glyphicon glyphicon-user"></span>
  						</div>
  						<div class="col-lg-11">
  							<strong>MODIFICAR RECURSOS</strong>
  						</div>
  					</div>
  				</div>

  				<div class="panel-body">
						<div class="form-group">
							<form role="form" action="{{ path('cambiar_recursos_roles') }}" method="POST">
							<h5><label for="recurso">{{recDsc}}</label></h5>
							<hr>
							<input type="hidden" name="recurso" id="recurso" value="{{idRec}}" ></input>

							<div class="col-md-2">
								<h5><label for="listar">Listar</label></h5>
											<div class="radio">
												{% if idListar == 1 %}
												<label>
													<input type="radio" name="listar" value = "1" checked="true" >Si
												</label>
												{% else %}
												<label>
													<input type="radio" name="listar" value = "1" >Si
												</label>
												{% endif %}	
											</div>
											<div class="radio">
												{% if idListar == 0 %}
												<label>
													<input type="radio" name="listar" value = "0" checked="true">No
												</label>
											{% else %}
												<label>
													<input type="radio" name="listar" value = "0">No
												</label>
											{% endif %}	
											</div>
										</div>
										<div class="col-md-2">
											<h5><label for="insertar">Insertar</label></h5>
											<div class="radio">
												{% if idInsertar == 1 %}
												<label>
													<input type="radio" name="insertar" value = "1" checked="true">Si
												</label>
												{% else %}
													<label>
													<input type="radio" name="insertar" value = "1">Si
												</label>
												{% endif %}	
											</div>
											<div class="radio">
												{% if idInsertar == 0 %}
												<label>
													<input type="radio" name="insertar" value = "0" checked="true">No
												</label>
												{% else %}
													<label>
													<input type="radio" name="insertar" value = "0">No
												</label>
												{% endif %}	
											</div>
										</div>
										<div class="col-md-2">
											<h5><label for="modificar">Modificar</label></h5>
											<div class="radio">
												{% if idModificar == 1 %}
												<label>
													<input type="radio" name="modificar" value = "1" checked="true">Si
												</label>
												{% else %}
													<label>
													<input type="radio" name="modificar" value = "1" >Si
												</label>
												{% endif %}	
											</div>
											<div class="radio">
												{% if idModificar == 0 %}
												<label>
													<input type="radio" name="modificar" value = "0" checked="true">No
												</label>
												{% else %}
													<label>
													<input type="radio" name="modificar" value = "0">No
												</label>
												{% endif %}	
											</div>
										</div>
										<div class="col-md-6">
											<h5><label for="eliminar">Eliminar</label></h5>
											<div class="radio">
												{% if idEliminar == 1 %}
												<label>
													<input type="radio" name="eliminar" value = "1" checked="true">Si
												</label>
												{% else %}
													<label>
													<input type="radio" name="eliminar" value = "1">Si
												</label>
												{% endif %}	
											</div>
											<div class="radio">
												{% if idEliminar == 0 %}
												<label>
													<input type="radio" name="eliminar" value = "0" checked="true">No
												</label>
												{% else %}
													<label>
													<input type="radio" name="eliminar" value = "0">No
												</label>
												{% endif %}	
											</div>
										</div>
						</div>
						<div class="col-md-3">
						<input type="hidden" name="idRolMod" id="idRolMod" value="{{idRolMod}}" />
  						<button type="submit" class="btn btn-primary btn-block">Modificar</button>
						</form>
						</div>
						<div class="col-md-3">
						<form role="form" action="{{ path('listar_recursos_roles') }}" method="POST">
  						<button type="submit" class="btn btn-primary btn-block">Cancelar</button>
						<input type="hidden" name="idRol" id="idRol" value="{{idRolMod}}" />
						</form>
						</div>
  				</div>

			</div>
		</div>
	</div>

{% endblock %}

