{% extends "AppBundle::layout.html.twig" %}

{% block contenido %}
<h1>{{ nombre }}</h1>
<h1>{{ email }}</h1>
<h1>{{ password }}</h1>
<h1>{{ fecha_alta }}</h1>
<h1>{{ fecha_mod }}</h1>

{% endblock %}

