{% extends "AppBundle::layout.html.twig" %}

{% block navbar_options %}
<li class="dropdown user user-menu">	
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">				    	    
        <strong>{{ usuario }}</strong>               
	</a>			
    <ul class="dropdown-menu">
    	<!-- User image -->
        <li class="user-header">
        	<h1><span class="glyphicon glyphicon-user" style="color:white;"></span></h1>       	
            <p>            	
            	<strong>{{ usuario }} </strong><br>    
				<strong>{{ rol }}</strong>            	        	
            	<small>{{ email }}</small>
            </p>
  		</li>        
        <!-- Menu Footer-->
        <li class="user-footer">        	
            <div class="col-xs-12">
            	<a href="{{ path('index') }}" class="btn btn-danger btn-block">
            		<strong>
            			<i class="fa fa-power-off"></i>
            			&nbsp;&nbsp;&nbsp;Cerrar Sesi&oacute;n
            		</strong>
            	</a>
            </div>
		</li>
	</ul>	
</li>

{% endblock %}

{% block menu_usuario %}

{% if rol == "Administrador General" %}
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>
	        <li><a href="{{ path('listar_caracteristica_hotel') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Hotel</a></li>                        
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>
	        <li><a href="{{ path('listar_caracteristicas_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Caracteristicas Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_tipos_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Tipos de Habitaci&oacute;n</a></li>
	        <li><a href="{{ path('listar_servicios_habitacion') }}"><i class="fa fa-arrow-circle-o-right"></i>Servicios de Habitaci&oacute;n</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_recursos') }}"><i class="fa  fa-arrow-circle-o-right "></i> Recursos</a></li>
	        <li><a href="{{ path('listar_roles') }}"><i class="fa fa-arrow-circle-o-right"></i> Roles</a></li>
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Administrador_Sistema.pdf" download="Manual_General"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% if rol == "Administrador" %}
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li>
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-user"></i><span>  Administracion permisos</span>                    	
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	 	</a>
	    <ul class="treeview-menu">	    	
	        <li><a href="{{ path('listar_usuarios') }}"><i class="fa fa-arrow-circle-o-right"></i> Usuarios</a></li>
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-calendar"></i><span>   Reportes</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>                		
	 	</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('reporte_mensual') }}"><i class="fa  fa-arrow-circle-o-right "></i> Mensual</a></li>
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Administrador.pdf" download="Manual_Administrador"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>

{% endif %}

{% if rol == "Recepcionista" %}
	<li class="active treeview">
		<a href="#">
	    	<i class="fa fa-building-o"></i><span>  Hoteles</span>
	    	<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
		</a>
	    <ul class="treeview-menu">
	    	<li class="active"><a href="{{ path('listar_hoteles') }}"><i class="fa fa-arrow-circle-o-right"></i> Lista de Hoteles</a></li>	                                
	   	</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-hotel"></i><span>  Habitaciones</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	        </span>
	    </a>
	    <ul class="treeview-menu">
	    	<li><a href="{{ path('listar_habitaciones_disponibilidad') }}"><i class="fa fa-arrow-circle-o-right"></i>Lista de Habitaciones</a></li>	        
	  	</ul>
	</li>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-search"></i><span>   B&uacute;squedas</span>
			<span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	      	</span>
		</a>
		<ul class="treeview-menu">
			<li><a href="{{ path('buscar_disponibilidad') }}"><i class="fa  fa-arrow-circle-o-right "></i> Habitacion Disponible</a></li>	
		</ul>
	</li>
	<li class="treeview">
		<a href="#">
	    	<i class="fa fa-download"></i><span>   Descargas</span>
	        <span class="pull-right-container">
	        	<i class="fa fa-angle-left pull-right"></i>
	       	</span>
	 	</a>
	    <ul class="treeview-menu">
	    	<li><a href="/bin/Manual_Hoteles_Nacionales-Recepcionista.pdf" download="Manual_Recepcionista"><i class="fa  fa-arrow-circle-o-right "></i> Manual</a></li>
	   	</ul>
	</li>   
	<li class="treeview">
		<a href="{{ path('contactos') }}">
			<i class="fa fa-envelope"></i><span>   Contacto</span>                		
	   	</a>                	
	</li>
{% endif %}

{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-md-offset-1 col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<strong>REPORTE MENSUAL POR HABITACI&Oacute;N</strong>
				</div>
			</div>
			<div class="panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="text-left"><strong>Fecha de ingreso</strong></td>
						<td class="text-left"><strong>Fecha de salida</strong></td>
						<td class="text-left"><strong>Codigo de reserva</strong></td>
						<td class="text-right"><strong>Precio Hotel(USD)</strong></td>
						<td class="text-right"><strong>Comisi&oacute;n (USD)</strong></td>
						<td class="text-right"><strong>Precio de Venta (USD)</strong></td>
					</tr>
				</thead>
				<tbody>
					{% for rev in reservas %}
					<tr>
						<td class="text-left">{{ rev.revfechaingreso }}</td>
						<td class="text-left">{{ rev.revfechasalida }}</td>
						<td class="text-left">
							{% set huespedes = "" %}
							{% for huesped in rev.huespedes %}
								{% set huespedes = huespedes ~ "<span class='glyphicon glyphicon-user' style='color:#73AD21;'></span>&nbsp;&nbsp;&nbsp;" ~ huesped.huenombre ~ "<br>" %}														
							{% endfor %}																											
							<a href="#" data-toggle="popover" title="HU&Eacute;SPED(ES)" data-content="{{ huespedes }}">															
								{{ rev.revcodigoreserva }}
							</a>		
						</td>
						<td class="text-right">{{ rev.revmontocomision }}</td>
						<td class="text-right">{{ rev.comision }}</td>
						<td class="text-right">{{ rev.revmontoreserva }}</td>
					</tr>
					{% endfor %}
					<tr >
						<td></td>
						<td></td>
						<td class="text-right"><h4><strong>TOTAL (USD):</strong></h4></td>
						<td class="text-right"><h4><strong>{{ totalHotel }}</strong></h4></td>
						<td class="text-right"><h4><strong>{{ totalComision}}</strong></h4></td>
						<td class="text-right"><h4><strong>{{ totalVenta }}</strong></h4></td>
					</tr>
				</tbody>
			</table>			
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-6 col-md-2">
		<button class="btn btn-block btn-danger sr-only">
			<span class="glyphicon glyphicon-print"></span>
			&nbsp;&nbsp;&nbsp;IMPRIMIR
		</button>
	</div>
	<div class = "col-md-2">
		<form role="form" action="{{ path('generar_mensual') }}" method="POST">	
			<button type="submit" class="btn btn-primary btn-block">
				<span class="glyphicon glyphicon-arrow-left"></span>
				&nbsp;&nbsp;&nbsp;&nbsp;Atras
			</button>
			<input type="hidden" name="mes" id="mes" value="{{mes}}" />
			<input type="hidden" name="idHotel" id="idHotel" value="{{idhotel}}" />
			<input type="hidden" name="anio" id="anio" value="{{anio}}" />
		</form>			
	</div>   
</div>	
{% endblock %}